<!DOCTYPE html>
<html>
<head>
  <meta charset ="UTF-8">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="pageHolder">

  <!--<form method="post" action="/ad">-->
  <h1><i>SHORTINK</i></h1>
  <div class="formHolder">
  		<input class="form" type="text" id="Url" name="enterUrl" placeholder="inputUrl" />
  		<button class="submit"><span>Go</span></button>
</div>

<div class="sliderDown">
    <p id="urlHolder"></p>
</div>


</div>
<!--</form>-->

<script src="https://unpkg.com/jquery"></script>
<script src="javascripts/urlInput.js"></script>
</body>
</html>
<!--Enter Url:<input id="Url" type="text" name="enterUrl" placeholder="inputUrl">
Submit:<button class="submit">Click me</button>


	<form class="form hidden">
		<input type="email" id="email" name="email" placeholder="johndoe@gmail.com" />
		<input type="submit" value="Submit" />
	</form>

-->
